{% extends 'base.html' %}

{% block content %}
<h1>Checkout</h1>

{% if cart %}


<form method="POST" action="{% url 'checkout' %}">
    {% csrf_token %}

    {% for key, item in cart.items %}
        <div class="card" style="margin-bottom:15px;">
            <h3>{{ item.name }}</h3>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price: ${{ item.price }}</p>
            <p>
                <strong>Subtotal:</strong>
                ${{ item.price|floatformat:2 }}
            </p>
        </div>
    {% endfor %}

    <h2>Total Amount: ${{ total }}</h2>

    <hr>

    <h3>Shipping Details</h3>

    <input type="text" name="full_name" placeholder="Full Name" required><br><br>
    <input type="email" name="email" placeholder="Email" required><br><br>
    <textarea name="address" placeholder="Address" required></textarea><br><br>
    <input type="text" name="city" placeholder="City" required><br><br>

    <button type="submit" style="margin-top:20px;">
        Place Order
    </button>
</form>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}
{% endblock %}
